*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: azure;
}
body{
    background-color:blue;
}
h1{
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: 15px;
    height: 50px;
}
footer{
    background-color: black;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration:overline;
    text-align: center;
    width: 150px;

}
input{
    padding: 5px;
 }